In [2]:
import requests 
from bs4 import BeautifulSoup
from time import sleep
from time import time
import random
import sqlite3
import re
from datetime import datetime
import datetime as dt
from urllib.request import Request, urlopen
import pandas as pd

In [3]:
req = Request("https://www.sgcarmart.com/news/writeup.php?AID=70&gclid=CjwKCAjw9aiIBhA1EiwAJ_GTSqqQBEROLZE2TlmuhGN5XYzNmYzD15Y7WuWpINvQQgNpuCBFV36yFBoCt5UQAvD_BwE")
webpage = urlopen(req).read()

title = []
category = []
quota = []
premium = []

soup = BeautifulSoup(webpage)

# find title
for t in soup.find_all("h2"):
    t_clean = t.text.strip()[0:].replace(',','')
    title.append(t_clean)

# find category
for c in soup.find_all("div", class_="fixed_h coe_sub_header cat_desc"):
    c_clean = c.text.strip()[0:5].replace(',','')
    category.append(c_clean)
    
# find quota
for q in soup.find_all("div", limit=4, class_="coe_sub_header h_27 font_18"):
    q_clean = q.text.strip()[0:].replace(',','')
    quota.append(q_clean)
    
# find premium
for p in soup.find_all("div", class_="coe_sub_header font_bold h_27"):
    p_clean = p.text.strip()[1:].replace(',','')
    premium.append(p_clean)
    
print(title)
print(category)
print(quota)
print(premium)

['COE Bidding Results - Aug 2021']
['CAT A', 'CAT B', 'CAT C', 'CAT E']
['805', '771', '118', '199']
['45189', '56001', '42589', '59599']

In [4]:
data = pd.DataFrame()
data["Category"] = category
data["Quota"] = quota
data["Premium"] = premium

print(data)

  Category Quota Premium
0    CAT A   805   45189
1    CAT B   771   56001
2    CAT C   118   42589
3    CAT E   199   59599

In [5]:
data.to_csv('coe_prices.csv', index=False, header=True)

In [6]:
data2 = pd.DataFrame()
data2["Title"] = title

print(data2)

                            Title
0  COE Bidding Results - Aug 2021

In [64]:
data2.to_csv('coe_title.csv', index=False, header=True)

In [9]:
df1 = data.iloc[0:1]
df1

  Category Quota Premium
0    CAT A   805   45189